.button {
  display: inline-block;
  padding: 0.42307em 1.26923em 0.538461em;

  background-color: #f72464;
  box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
  border-radius: 4px;

  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  transition: 0.2s ease-in;
}

@media (min-width: 992px) {
  .button {
    font-size: 26px;
  }
}
.button:hover {
  background-color: #fd4ba7;
  box-shadow: 0px 4px 25px rgba(155, 16, 58, 0.601);
}
.button:active {
  position: relative;
  top: 1px;
}
.button-outline {
  display: inline-block;
  padding: 10px 40px 11px;

  background: #ffffff;
  border: 1px solid #f72464;
  border-radius: 4px;

  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  color: #777777;
  transition: 0.2s ease-in;
}

.button-outline:hover {
  background-color: #f72464;
  color: #fff;
}
