.subcribe-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.subcribe-form__input {
  padding-left: 10px;
  padding-right: 10px;
  height: 42px;
  background: #ffffff;
  border: 1px solid #f72464;
  border-radius: 4px;

  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000;
}
.subcribe-form > * + * {
  margin-top: 10px;
}

.subcribe-form__input::placeholder {
  color: #999999;
}

.subcribe-form__submit {
  display: inline-block;
  padding: 9px 30px 11px;
  background: #f72464;
  border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.subcribe-form__submit:hover {
  background-color: #fd4ba7;
  box-shadow: 0px 2px 15px rgba(155, 16, 58, 0.601);
}

@media (min-width: 540px) {
  .subcribe-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .subcribe-form__input {
    width: 230px;
  }
  .subcribe-form > * + * {
    margin-top: 0;
    margin-left: 10px;
  }
}
